@import url("https://fonts.googleapis.com/css?family=Work Sans");
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background: white;
    color: white;
}

form{
    font-family: 'Work Sans';
    background-color: #f3f2f2;
    padding: 0px 30px;
    border-radius: 10px;
    width: 50%;
    margin-left: 400px;
    color: #2E6B4C;

}

h1{
    font-family: 'Work Sans';
    color: #2E6B4C;
    margin-left: 400px;
}

p{
    color: black !important;
    align-items: center;
    margin-left: 150px;
    /* margin-top: 10px; */
}

button{
    font-family: 'Work Sans';
    width: 20em;
    padding: 15px;
    margin-left: 300px;
    margin-top: 10px;
    height: 60px;
    background-color: #2E6B4C;
    color: white;
}

.reginput{
    margin-left: 30px;
}

.choice{
    margin-left: 300px;
    padding-bottom: 100px;
}

.privacy_policy{
    color: #59A659 !important;  
} 

.terms_of_use{
    color: #59A659 !important;  
} 
.login{
    color: #59A659 !important;
}