@import url('https://fonts.googleapis.com/css?family=Work Sans');
h5{
    font-family: 'Work Sans';
    color:white;
}
.main-footer{
    font-family: "Work Sans";
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-around;
}

ul>li{
    list-style-type: none;
    margin-top: 7px;
}

.list-unstyled{
    padding: 0;
}

.name{
    color:#59A659;
}

.trademark{
    color: white !important;
    padding-left:200px;
    text-align: center;
}